.furniture-section
  .furniture-item
    justify-content: center
  .furniture-item--card
    width: $card_w
    border: 1px solid $card_img_bg
    border-radius: 0
    margin-top: 30px
    //height: $card_h
    img
      height: $card_img_h
      background-color: $card_img_bg
    .card-body
      padding: 14px 11px 11px
    &_title
      font-size: 1.2rem
      line-height: 1.2rem
      text-align: center
      margin: 0
    &_rating
      padding: 16px 0
      border-bottom: 1px solid $main_color
      position: relative
      margin-bottom: 16px
    &_rating::after
      content: ""
      position: absolute
      bottom: -2px
      left: 50%
      transform: translateX(-50%)
      height: 4px
      background-color: $main_color_reverse
      width: 30px
    &_head
      position: relative
      .btn-sale
       @extend .absolute_t_c
       height: 21px
       padding: 3px 10px
       font-size: .9rem
       line-height: .9rem
       border-bottom-right-radius: 30px
       border-bottom-left-radius: 30px
      .btn-view
        @extend .absolute_b_l
        left: 10px
        font-size: 1rem
      .btn-card
        @extend .absolute_b_r
        right: 10px
        font-size: 1rem
        .card-icon
          margin-right: 10px
    .furniture-item--card_head
      button
        display: none
    .btn-price
      font-size: 1.4rem
    .old-price
      line-height: $btn-height - 4px
      color: $old_price
      font-size: 1.2rem
      position: relative
      margin: 0 6px
      &::after
        content: ""
        position: absolute
        left: 0
        right: 0
        top: 50%
        height: 1px
        background-color: $main_color
  .furniture-item--card:hover
    .furniture-item--card_title
      color: $main_color_reverse
    .btn-price
      background-color: $main_color_reverse
      border-color: $main_color_reverse
    .furniture-item--card_head
      button
        display: block
@media screen and (min-width: $md-width)
  .furniture-section
    .furniture-item:nth-child(1n)
      justify-content: flex-start
    .furniture-item:nth-child(2n)
      justify-content: flex-end

@media screen and (min-width: $lg-width)
  .furniture-section
    .furniture-item:nth-child(2n)
      justify-content: center
    .furniture-item:nth-child(1n+3)
      justify-content: flex-start
    .furniture-item:nth-child(3n+3)
      justify-content: flex-end

