<!-- build:furnitures -->
<section class="col-12 furniture-section">
    <div class="section-title">
        <h2 class="title">Furniture</h2>
    </div>
    <div class="row furniture-items">
        <!--<div class="col-12 col-md-6 col-xl-4 d-flex furniture-item">-->
            <!--<div class="card furniture-item&#45;&#45;card">-->
                <!--<div class="furniture-item&#45;&#45;card_head">-->
                    <!--<button class="btn btn-sale btn-dark">sale</button>-->
                    <!--<img src="images/products/furniture/1.png" alt="product1">-->
                    <!--<button class="btn btn-dark btn-view">Quick View</button>-->
                    <!--<button class="btn btn-dark btn-card"><i class="fa fa-shopping-basket card-icon"></i>ADD TO CARD</button>-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!--<p class="furniture-item&#45;&#45;card_title">Aenean Ru Bristique</p>-->
                    <!--<div class="furniture-item&#45;&#45;card_rating d-flex justify-content-center ">-->
                        <!--<span class="active" data-star="1"><i class="fa fa-star"></i></span>-->
                        <!--<span class="active" data-star="2"><i class="fa fa-star"></i></span>-->
                        <!--<span class="active" data-star="3"><i class="fa fa-star"></i></span>-->
                        <!--<span data-star="4"><i class="far fa-star"></i></span>-->
                        <!--<span data-star="5"><i class="far fa-star"></i></span>-->
                    <!--</div>-->
                    <!--<div class="furniture-item&#45;&#45;card_price-block">-->
                        <!--<div class="float-left">-->
                            <!--<button class="btn btn-favorite"><i class="far fa-heart"></i></button>-->
                            <!--<button class="btn btn-compare"><i class="fa fa-exchange-alt"></i></button>-->
                        <!--</div>-->
                        <!--<div class="float-right">-->
                            <!--<span class="old-price">$25.00</span>-->
                            <!--<button class="btn btn-dark btn-price">-->
                                <!--$30.00-->
                            <!--</button>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body furniture-preview">
                    <div class="img-block">
                        <img src="" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</section>

<!-- /build:furnitures -->