html, body
  font-size: $font-size
  font-family: 'ArialRegular', 'sans-serif'
.content
  width: $sm-width
//.fa-*
//  height: 16px
//  width: 16px
//  padding: 20px
.btn
  height: $btn-height
  border: 1px solid $main_color
  border-radius: 0
  color: $main_color
  text-align: center
.btn:hover
  outline: none
.btn-dark
  background-color: $main_color
  color: $white
.nopadding
  padding: 0 !important
  margin: 0 !important
@media screen and (min-width: $tablet)
  .content
    width: $md-width
@media screen and (min-width: $lg_desktop)
  .content
    width: $lg-width