.title
  font-size: 1.7rem
  text-transform: uppercase
  margin: 0

.section-title
  border-bottom: 1px solid $main_color
  padding: 20px 0
.absolute_t_c
  position: absolute
  top: 0
  left: 50%
  transform: translateX(-50%)
.absolute_b_l
  position: absolute
  bottom: 0
  left: 0
.absolute_b_r
  position: absolute
  bottom: 0
  right: 0
