.stock-section
  height: 100%
  color: $main_color
  .stock-small
    height: 135px
  .stock-back
    background-repeat: no-repeat
    background-position: right
    background-size: auto 100%
  .stock-back-mirror
    -moz-transform: scaleX(-1)
    -o-transform: scaleX(-1)
    -webkit-transform: scaleX(-1)
    transform: scaleX(-1)
  .stock-back-right
    background-position: right
  .stock-back-left
    background-position: left
  .stock-title
    @extend .title
  .stock-desc
    text-transform: uppercase
    font-size: 1.08rem
  .stock-desc-reverse
    font-size: 1.38rem
    color: $main_color_reverse
  .stock-price
    font-size: 2.3rem
    color: $main_color_reverse
  p
    margin: 0
  .stock-item
    margin: 15px 0
  .stock1
    background-color: $stock1_bg_color
  .stock2
    background-color: $stock2_bg_color
@media screen and (min-width: $tablet)
  .stock-section
    .stock-big
      background-repeat: no-repeat
      background-size: cover
      color: $white
      .stock-overlay
        background-color: rgba(112,112,112,.4)
        height: 490px
        margin: 33px
        width: calc(100% - 66px)
        padding: 20px
      .stock-desc
        font-size: 1.8rem
      .stock-title
        font-size: 2.4rem
      .stock-price
        font-size: 3.8rem
        padding: 14px 22px
        border: 6px solid $white
        color: $white
@media screen and (min-width: $lg_desktop)
  .stock-section
    .stock-small
      height: 195px
    .stock-small-items
      height: 420px
      margin-left: 13px
    .stock-overlay, .stock-small-items
      height: calc(420px - 66px)
      margin-right: 13px
