<!-- build:stocks -->
<section class="row stock-section">
    <div class="col-md-12 col-xl-6 d-sm-none d-md-block stock-item stock-big p-0" style="background-image: url('images/stocks/1.jpg')">
        <div class="d-inline-flex stock-overlay flex-column justify-content-end align-items-start">
            <p class="stock-desc">guest room</p>
            <p class="stock-title">sofa</p>
            <p class="stock-price">-20%</p>
        </div>
    </div>
    <div class="col-12 col-xl-6">
        <div class="row stock-small-items">
            <div class="col-12 stock1 stock-item">
                <div class="row stock-small">
                    <div class="col-3 stock-back" style="background-image: url('images/stocks/2.png')"></div>
                    <div class="col-6 flex-column d-flex justify-content-center">
                        <p class="stock-title">office chair</p>
                        <p class="stock-desc">collection</p>
                        <p class="stock-price">$200.00</p>
                    </div>
                    <div class="col-3 stock-back stock-back-mirror" style="background-image: url('images/stocks/3.png')"></div>
                </div>
            </div>
            <div class="col-12 stock2 stock-item">
                <div class="row stock-small">
                    <div class="col-5 stock-back stock-back-left stock-back-mirror" style="background-image: url('images/stocks/4.png')"></div>
                    <div class="col-7 flex-column d-flex justify-content-center nopadding">
                        <p class="stock-desc stock-desc-reverse ">special collection</p>
                        <p class="stock-desc">save up 45% of furniture</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /build:stocks -->